{% extends 'base.html' %}
{% block title %}
  Vaches
{% endblock %}
{% block content %}
  <div class="main">
    <nav>
        <h3>La ferme des 3 Chênes</h3>
    </nav>
    <div class="content">
      <h1>Introduction</h1>
      <p>Ce web a comme but de représenter trois figures sous formes de diagrammes qui permettra d'éclaircir quelques sujets par rapports aux animaux de la ferme. Ces animaux sont des vaches ou des Taureaux.</p>
      <h1>Théorie de pleine lune</h1>
      <p>Selon cette théorie les naissances sont plus féquentes en pleine lune que les autres jours du mois. Pour vérifier cette théorie on va représenter comme premiere figure le nombre de naissances pour chaque jour
      du mois d'octobre 2020. Ensuite on analysera si pendant la fin du mois il y a un nombre élevé de naissances pour vérifier la théorie.</p>
      <div>
        <canvas id="graphique"></canvas>
        <script>
      	var ctx = document.getElementById('graphique').getContext('2d');
      	var myChart = new Chart(ctx, {
      	type: 'bar',   // le type du graphique
      	data: {        // les données
              labels: {{jours}},
              datasets: [{
                          label: 'Velages en octobre 2020',
                          data: {{freq}},
                          backgroundColor : '#cc65fe'
                         }]
      	       }
               }
      	);
          </script>
      </div>
      <p>C'est clair que il n'y pas vraiment de lien entre les periodes du mois et les naissances.</p>
      <h1>Periode des mort-nés</h1>
      <p>Parfois il arrive qu'un veau soit mort-né. Pour diminuer le nombre de mort-né, il est utile de savoir si il y a un moment spécifique durant l'année où il y a le plus de mort-né. Pour repondre à cette question
      on va représenter comme figure tout les mois de l'année 2020 et le nombre de mort-nés.</p>
      <div>
        <canvas id="graphique1"></canvas>
        <script>
      	var ctx1 = document.getElementById('graphique1').getContext('2d');
        var myChart1 = new Chart(ctx1, {
      	type: 'bar',   // le type du graphique
      	data: {        // les données
              labels: ["Janvier","Fevrier","Mars","Avril","Mai","Juin","Juillet","Aout","Septembre","Octobre","Novembre","Decembre"],
              datasets: [{
                          label: 'Mort-né en 2020',
                          data: {{freq1}},
                          backgroundColor : 'rgba(0,255,0,1)'
                         }]
      	       }
               }
      	);
          </script>
        </div>
      <p>On remarque qu'il y a bien des périodes spécifiques où il y a un nombre élevé de mort-né. Sur la figure on voit que en automne et en printemps il a le plus de mort-né et en hiver et été il n'y a pas du tout. Donc il y a un rapport avec les saisons.</p>
      <h1>Familles et décés prématurés</h1>
      <p>Il est possible qu'un veau soit décédé dans les premieres semaines aprés ça naissance. Pour diminuer le nombre on peut verifier si il y a un rapport entre les familles et les décés prématurés.
      Pour en savoir, on va représenter comme figure par noms de familles, les nombres de décés et vivants.</p>
        <div>
          <canvas id="graphique2"></canvas>
          <script>
        	var ctx2 = document.getElementById('graphique2').getContext('2d');
          var myChart2 = new Chart(ctx2, {
        	type: 'bar',   // le type du graphique
        	data: {        // les données
                labels: [{% for post in nd %}"{{post}}",{% endfor %}],
                datasets: [{
                            label: 'Vivants',
                            data: {{vv}},
                            backgroundColor: '#36a2eb'
                          },
                          {
                            label : "Décés",
                            data: {{dc}},
                            backgroundColor: '#ff6384'
                          },]
        	       }
                 }
        	);
            </script>
        </div>
      <p>Comme on voit sur la figure, il n'y a aucun rapport entre les décés prématurés appart le fait q'une famille avec un nombre élevé de vivants a un nombre élevé de décés prématurés</p>
      </div>
  </div>
{% endblock %}
